[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stekman
[access "refs/for/refs/*"]
	read = group user/stekman
	push = group user/stekman
	label-Code-Review = -2..+2 group user/stekman
	label-Verified = -1..+1 group user/stekman
	rebase = group user/stekman
	removeReviewer = group user/stekman
	submit = group user/stekman
[access "refs/heads/*"]
	read = group user/stekman
	create = group user/stekman
	push = +force group user/stekman
	pushMerge = group user/stekman
[access "refs/tags/*"]
	push = +force group user/stekman
	pushTag = group user/stekman
	pushSignedTag = group user/stekman
